#slide_button{
  background-color: #167c4f;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#slide_button:hover, #slide_button:active{
  background-color: green;
}
.slider{
    width:100%;
}
.sliders{
  display: flex;
  text-align: center;
}
.slides{
  height: 40%;
}